---
title: КОНТАКТЫ
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>

	<div class="out">
		<div class="content-wrapper contact">
			<!-- content-wrapper BEGIN -->

			<!-- header BEGIN -->
			<header class="header">
				<div class="inner">
					{% include "partials/_menu.html" %}
				</div>
			</header><!-- header END-->

			<div class="content">
				<!-- content BEGIN -->
				<div class="inner">

					<h2>КОНТАКТЫ</h2>
					<div class="box-text">
						<p>Обращайтесь за магической помощью только к тем специалистам, которые получили свой ДАР по наследству. Сегодня в интернете развелось множество доморощенных магов, которые и лечат, и гадают, и решают все проблемы. Если вы прочли такую информацию на странице «специалиста» - бегите от него прочь. </p>
					</div>

					<div class="title-shape-main">
						<h3>Маги – не гадают и не предсказывают будущее! <br>МАГ посредством собственной СИЛЫ, СИЛЫ ДУХОВ, ПРЕДКОВ И ВЫСШИХ СИЛ воздействуют на ситуации энергетически и меняют ее в нужном вам направлении. Если вам нужна реальная помощь...</h3>
					</div>
				</div><!--inner end -->

				<div class="inner">
					{% include "partials/_form.html" %}

					<div class="box-text bottom">
						<p>Обращайтесь за магической помощью только к тем специалистам, которые получили свой ДАР по наследству. Сегодня в интернете развелось множество доморощенных магов, которые и лечат, и гадают, и решают все проблемы. Если вы прочли такую информацию на странице «специалиста» - бегите от него прочь. </p>
						<h3> Напишите мне сегодня и уже завтра вы убедитесь в этом на собственном опыте!</h3>
					</div>
				</div>

				{% include "partials/_footer.html" %}
			</div><!-- content END-->
		</div><!-- content-wrapper END-->
	</div><!-- Out END-->

	<script src="js/app.js"></script>
</body>
</html>
