<!-- form-container BEGIN -->
<div class="form-container">
	<h3>
		<strong>НАПИШИТЕ МНЕ</strong>
		<br>НЕ ОТКЛАДЫВАЯ, И Я НЕ ВОЗЬМУ С ВАС ЗА ПОМОЩЬ НИ КОПЕЙКИ!
	</h3>
	<div class="timer-box">
		<p>ВНИМАНИЕ! Предложение действует только 2 дня!</p>
		<script src="http://megatimer.ru/s/ba4de9b4fd12598aac816f7649af5908.js"></script>
	</div>
	<form action="">
		<input type="text" required="" placeholder="Ваше имя">
		<input type="text" required="" placeholder="Ваш возраст">
		<input type="text" required="" placeholder="Введите ваш емейл">
		<textarea name="" id="" cols="20" rows="4" placeholder="Опишите ситуацию"></textarea>
		<button type="button" class="btn btn-arrow">ХОЧУ ПОМОЩЬ БЕСПЛАТНО</button>
	</form>
</div>
<!-- form-container END -->