<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<!-- theme color for android 5.0 -->
	<meta name="theme-color" content="#fff">
	<!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->

	<!-- Place an icon file in PNG format in the root document folder called favicon.ico(-16/32px) and apple-touch-icon.png(-76/120/152px) -->

	<link rel="icon" type="image/png" href="favicon-16x16.ico">

	<!-- Main Style CSS -->
	<link rel="stylesheet" href="css/style.min.css">
</head>