// Scaffolding
// ----------------
body
	background-image: url("../img/body-bg.png")
	background-repeat: repeat

.out
	overflow: hidden

h2, h3
	+font-family($philo-bold)
	color: $violet
	font-size: 30px
	+r(768)
		font-size: 24px
	&.title-blue
		color: $blue
		font-size: $text-md // 24px
// nav (burger) menu
.nav
	&-btn
		display: none
		float: left
		background-color: $orange
		cursor: pointer
		position: relative
		opacity: .9
		height: 50px
		width: 50px
		padding: 0
		border-radius: 50px
		border: 2px solid #d86c1e
		outline: none
		transition: all .25s linear
		&:hover, &:focus
			opacity: 1
		&:active
			top: 1px
		+r(768)
			display: block
		span
			border-radius: 2px
			width: 30px
			height: 3px
			margin: 0 auto
			background: $white
			display: block
			position: relative
			&:before,
			&:after
				position: absolute
				height: 3px
				background: $white
				content: ""
				border-radius: 2px
				left: 0
				right: 0
			&:before
				top: -7px
			&:after
				bottom: -7px

.inner
	max-width: 960px
	margin: 0 auto
	width: 100%
	+clr
	+r(768)
		padding: 0 10px

.content
	text-align: center
.content-wrapper
	max-width: 1062px
	margin: 0 auto
	width: 100%
	background-color: $body-bg
	background-image: url("../img/head-bg.png")
	background-repeat: no-repeat
	box-shadow: $base-shadow
.contact
	.title-shape-main
		max-width: 790px
		&:after
			top: 100%
	.box-text
		p
			+font-family($philo-bold)
		&.bottom
			margin: 0 auto 48px
			p
				color: #3c3f3f
				font-size: 18px
			h3
				font-size: 24px
				text-transform: uppercase
			p, h3
				color: #3c3f3f
				line-height: 1.2
	.content
		h2
			+r(768)
				margin-top: 20px

// help
.help
	.box-text
		margin-bottom: 45px
		+r(768)
			margin-bottom: 0
		p
			+font-family($philo-bold)
			font-size: 19.44px
	.content
		h2
			+r(768)
				margin-top: 20px
		footer
			p
				margin-bottom: 0
		p
			+font-family(Roboto)
			font-weight: 300
			font-size: 16px
			color: #010101
			margin-bottom: 30px
			a
				color: $red
		.footer p a
			color: inherit
		.timer-box
			p
				color: $orange
				font-weight: 500
	.title-shape-main
		max-width: 700px
		&:after
			top: 100%

// reviews
.reviews
	.content
		.inner
			position: relative
	.btn-comment
		position: absolute
		right: 0
		top: -9px
		+r(768)
			position: static
			margin-top: 18px
	.review__list
		margin: 45px auto 265px
		+r(991)
			margin: 45px auto 165px
		+r(768)
			margin: 35px auto 100px
		+r(667)
			margin: 35px auto 0px
	.review__field
		text-align: left
		background-image: url("../img/comment-bg.png")
		background-repeat: no-repeat
		background-position: center center
		background-size: 100% 100%
		display: inline-block
		border-radius: 10px
		+clr
		width: 100%
		margin-bottom: 13px
		padding: 32px 34px 32px 24px
		+r(768)
			text-align: center
			background-size: cover
			padding: 25px 15px
		.review__userpic
			float: left
			position: relative
			margin-right: 20px
			width: 187px
			height: 187px
			+r(768)
				float: none
				margin: 0 auto 20px
			&:after
				width: 187px
				background-image: url("../img/userpic-border.png")
				height: 187px
				background-repeat: no-repeat
				background-position: center center
				content: ""
				display: block
				position: absolute
				top: 0
				left: 0
			img
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
	.review__username
		font-size: 24px
		+font-family($philo-bold)
		display: inline-block
		color: #202020
	.review__comment
		font-size: 16px
		display: table
		color: $black
		+font-family($philo-bolditalic)
		margin-top: 18px
		+r(768)
			margin-top: 10px
			font-size: 15px


.box-title
	max-width: 760px
	margin: 0 auto
	text-align: center
	background-image: url("../img/cry.png")
	background-size: 100% 100%
	padding: 25px 0
	+r(600)
		background-image: none
	.sub-title
		color: $black
		+font-family($philo-bold)
		display: inline-block
		margin-bottom: 15px
	h2
		color: $violet
		+font-family($philo-bold)
		text-transform: uppercase
		font-size: 36px
		line-height: 0.83
		margin: 20px auto 40px
		+r(768)
			margin: 20px auto 10px
			font-size: 28px

// Questions
// --------------
.questions
	font-size: 0
	&__item
		display: inline-block
		vertical-align: top
		width: 31%
		+r(580)
			width: 80%
		p
			+font-family(Roboto)
			font-size: $text-sm //16px
			font-weight: 700
		i
			display: block
			+sprite($s-icon-candle)
			margin: 0 auto 10px

// Title
// -------

.old-title
	text-align: center
	background-image: url("../img/oldtext-bg.png")
	max-width: 780px
	margin: 23px auto 0px
	padding: 70px 0 40px
	background-repeat: no-repeat
	background-size: 100% 100%
	h2
		font-size: 19.44px
		color: #202020
		+r(580)
			font-size: 16px
	h3
		font-size: 30.43px
		color: $violet
		+r(580)
			font-size: 22px

.box-text
	margin: 20px auto
	display: inline-block
	p
		font-size: $text-reg //18px
		color: $black
		+font-family(Roboto)
		font-weight: 300
		font-size: $text-reg //18px

.about
	text-align: center
	background-color: $violet
	padding: 75px 65px 65px 65px
	text-align: justify
	position: relative
	+r(768)
		padding: 20px
		text-align: center
	&:before,
	&:after
		content: ""
		display: block
		position: absolute
		left: 0
		width: 100%
	&:before
		background-color: $violet-lighten-50
		height: 90px
		top: -190px
	&:after
		background-color: $violet-lighten-25
		top: -100px
		height: 100px
	h4
		font-size: $base-step //30px
		color: $white
		text-align: center
		+font-family($philo-bold)
	p
		font-size: $text-reg //18px
		+font-family($philo-bold)
		color: $white
		margin: 20px auto 15px
		span
			color: $lemony

.video
	height: 434px
	position: relative
	z-index: 1
	&:after
		background-image: url("../img/video-frame-bg.png")
		background-repeat: no-repeat
		background-position: center center
		position: absolute
		display: block
		top: 0
		left: 50%
		transform: translateX(-50%)
		content: ""
		width: 889px
		height: 434px
		pointer-events: none
	iframe
		margin-top: 12px
		height: 400px
		width: 815px

.tired-box
	max-width: 760px
	margin: 30px auto 25px
	display: inline-block
	h3
		+font-family($lobster-reg)
		color: #075265
.title-shape-main
	position: relative
	margin: 80px auto 110px
	max-width: 490px
	+r(520)
		margin: 30px auto
	h3
		margin: 20px 0px
		display: inline-block
		font-size: 26px
		+r(768)
			font-size: 18px
	&:before,
	&:after
		display: block
		position: absolute
		content: ""
		width: 100%
		height: 57px
		background-repeat: no-repeat
		background-position-x: center
		+r(520)
			display: none
	&:before
		top: -57px
		background-image: url("../img/shape-top-big.png")
	&:after
		background-image: url("../img/shape-bottom-big.png")
		top: 97px

.title-shape
	position: relative
	padding-bottom: 60px
	&:after
		content: ""
		display: block
		position: absolute
		top: 41px
		left: 0
		width: 100%
		background-image: url("../img/shape-bottom.png")
		height: 32px
		background-repeat: no-repeat
		background-position-x: center


// List Star
// ------------
.list-star
	font-size: 0
	margin-bottom: 65px
	li
		display: inline-block
		vertical-align: top
		width: 25%
		+r(768)
			width: 50%
		+r(480)
			width: 100%
	p
		font-size: $text-reg //18px
		+font-family(Roboto)
		font-weight: 400
	i
		display: block
		margin: 10px auto 10px
		&.icon-sun
			+sprite($s-icon-sun)

// List Rune
.list-rune
	margin-top: 28px
	li
		display: inline-block
		vertical-align: top
		width: 30%
		+r(768)
			width: 100%
			margin-bottom: 30px
			&:last-child
				margin-bottom: 0
		.img-box
			position: relative
			i
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
		i
			display: block
			margin: 0 auto
			&.icon-umbrella
				+sprite($s-icon-umbrella)
			&.icon-clock
				+sprite($s-icon-clock)
			&.icon-shield
				+sprite($s-icon-shield)
		h3
			font-size: 24px
			margin: 24px auto 20px
		p
			font-size: $text-reg
			+font-family(Roboto)
			font-weight: 400
			color: #202020
			padding: 0 20px

.papper-bg
	background-image: url("../img/oldpapper-bg.png")
	padding: 65px 0px 75px 0px
	+cover
#timer-element-ba4de9b4fd12598aac816f7649af5908-secundes
	+r(530)
		display: none !important
.form-container
	max-width: 790px
	margin: 0 auto 60px
	background-image: url("../img/form-bg.png")
	background-repeat: no-repeat
	background-position: right 180px
	h3
		font-size: 24px
		line-height: 1.5
		+r(768)
			font-size: 18px
		strong
			font-size: 36px
			line-height: 1.66
			+r(768)
				font-size: 30px
.timer-box
	margin: 36px auto
	p
		font-size: 18px
		color: $orange
		+font-family(Roboto)
		font-weight: 500
		text-transform: uppercase
		margin-bottom: 18px
	+r(480)
		*
			display: none
		p
			display: block !important
form
	max-width: 500px
	margin: 0 auto
	input,
	textarea
		+font-family(Roboto)
		font-weight: 300
		font-size: 14px
		+placeholder($violet)
		padding: 16px 0 16px 30px
		border: none
		outline: none
		background-color: $body-darker
		border-radius: 8px
		display: inline-block
		width: 100%
		&:focus
			+placeholder($gray)
	textarea
		resize: none
		margin-bottom: 26px
	input
		margin-bottom: 10px

// modal
.modal
	width: 100%
	max-width: 90%
	margin: 0 auto
	display: none
	border: 3px solid $orange
	border-radius: 12px
	background-color: $violet
	padding: 45px 100px
	position: absolute
	box-shadow: 0 0 155px 5px #202020
	top: 0
	left: 50%
	z-index: 2
	transform: translateX(-50%)
	+r(480)
		padding: 55px 10px
	h3
		color: $white
		font-size: 30px
		margin-bottom: 35px
	&-close
		display: block
		position: absolute
		top: 30px
		right: 30px
		height: 30px
		span
			display: inline-block
			position: relative
			width: 30px
			&:before,
			&:after
				width: 100%
				height: 3px
				background-color: $white
				border-radius: 4px
				content: ""
				display: block
				position: absolute
				top: 0
			&:before
				transform: rotateZ(-45deg)
			&:after
				transform: rotateZ(45deg)
	form
		button
			border: none
			font-size: 24px
			+font-family(Roboto)
			font-weight: 700
			text-transform: uppercase
			color: $white
			padding: 25px 80px
			background-color: $orange
			border-radius: 50px
			+r(768)
				padding: 25px
				font-size: 18px